@charset "UTF-8";

		table {
			border: 1px solid #ddd;
			/* border-collapse: collapse; */
			width: 300px;
		}

		table.bottom {
			border-top: none;
		}

		td {
			/* border: 1px solid lightgray; */
			font-size: 24px;
		}

		input {
			padding: 10px;
			border: none;
			background-color: #eee;
			height: 12px;
			margin-left: 7px;
			margin-bottom: 12px;
            outline: none;
		}

		button {
			width: 86px;
			height: 86px;
			margin-top: 0px;
			border: none;
			background-color: orange;
			margin-left: 5px;
            outline: none;
            cursor: pointer;
			color: white;
			position: relative;
			left: -5px;
			top: -3px;
		}

		span {
			font-size: 13px;
			position: relative;
			top: -4px;
			left: 23px;
			color: #888
		}

        table:first-child tr:first-child span {
            font-size: 10px;
            color: #f00;
            position: absolute;
            left: 25px;
            top: 51px;
        }

        table:first-child tr:last-child span {
            font-size: 10px;
            color: #f00;
            position: absolute;
            left: 25px;
            top: 103px;
        }


